<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
  </head>

  <body>
    <a href="/create">Add</a>
    <ul>
      <% posts.forEach(function(post){ %>
      <li>
        <b><%= post.title %></b>
        <br />
        <%= post.body %>
      </li>
      <br />
      <% }); %>
    </ul>
  </body>
</html>
